@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: url("C:/Users/micha/workspace/foundations/assessments/INDIVIDUAL-ASSESSMENT-vocab-YOU-lary/background.avif");
  color: #C9D5FFff;;
  text-align: center;
  margin-top: 20px;
}

#navbar-nav, .navbar, .navbar-expand-lg, .bg-body-tertiary {
  background-color: #63053Eff;
  opacity: .8;
}

#navbar-container {
  background-color: #63053Eff;
  opacity: .8;
}

.navbar-nav, .nav-link, .nav-link.active, .navbar-expand-lg, #home-btn {
  color: #C9D5FFff;;
  --bs-nav-link-hover-color: #fbfcffff;
}

#home-btn:hover {
  color: #fbfcffff;
}

#navbar-container > h1 {
  color: #C9D5FFff;;
  font-size: xx-large;
}

#google-auth {
  margin-left: 16px;
  color: #97015Aff;
  border: 2px solid #97015Aff;
  border-radius: 4px;
  padding: 4px;
  background-color: #C9D5FFff;
}

.dropdown-menu {
  background-color: #C9D5FFff;
  color: #63053Eff;
  --bs-dropdown-link-hover-color: #fbfcffff;
  overflow: visible;
  opacity: .8;
}

.dropdown-menu:focus {
  color: #fbfcffff;
}

#profile-drop-down > li >a:hover, #profile-drop-down >li >a:active {
  cursor: pointer;
  color: #97015Aff;
}

#profile-dropdown-toggle:focus {
  color: #fbfcffff;
}

#sort-drop-down > li >a:hover, #sort-drop-down >li >a:active {
  cursor: pointer;
  color: #97015Aff;
}

#sort-dropdown-toggle:focus {
  color: #fbfcffff;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  justify-content: space-around;
}

.card {
  margin: 20px;
  padding: 12px;
  border: 4px solid #63053Eff;
  border-radius: 16px;
  background-color: #C9D5FFff;
  min-height: 280px;
  width: 240px;
  opacity: .8;
}

.card-title-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

}

.card-title {
  color: #63053Eff;
}

.card-text {
  color:#253275ff;
}

.card-nav {
  color: #253275ff;
  text-decoration: none;
}

.filter-link {
  font-size: large;
}

.update-link {
  font-size: x-small;
  border-right: .5px solid #3552BDff;
  margin-right: 0px;
  padding-right: 8px;
}

.delete-link {
  font-size: x-small; 
  margin-left: 0px;
  padding-left: 8px;
}

.card-btn-container {
  display: flex;
  justify-content: center;
}
.card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card-nav:hover {
  color: #97015Aff;
}

.input {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #d0ccd0ff;
}

#entry-form-container {
  color: #C9D5FFff;
}

#entry-form-container:hover {
  color: #fbfcffff;
}

.create-update-btn {
  color: #97015Aff;
  border: 2px solid #97015Aff;
  border-radius: 4px;
  padding: 4px;
  background-color: #C9D5FFff;
  margin-top: 8px;
  opacity: .8;
}

.create-update-entries {
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: .8;
}
