
/* SCSS HEX */
$french-gray: #d0ccd0ff;
$white: #fbfcffff;
$wenge: #605856ff;
$cerulean: #1c6e8cff;
$charcoal: #274156ff;

/* SCSS HEX */
$delft-blue: #253275ff;
$violet-blue: #3552BDff;
$tyrian-purple: #63053Eff;
$murrey: #97015Aff;
$periwinkle: #C9D5FFff;
